<% content_for :body_content_left do %>
  <ul id="ads">
    <% @ads.each do |ad| %>
      <li>
        <%= link_to ad.title, ad_url(ad) %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= render :partial => "/shared/content_page" %>
