- if searching?
  %h2= t('results_for', :scope => 'shared.admin.search', :query => params[:search])
- if @services.any?
  .pagination_container= render 'services'
- else
  %p
    - unless searching?
      %strong= t('.no_items_yet')
    - else
      = t('no_results', :scope => 'shared.admin.search')