- content_for :title, @offer_group.title
- content_for :body_content_title, @offer_group.title

= render "/shared/content_page"

#offer_group
  .content.white-pad
    = image_fu @offer_group.photo, '320x140>', :class => 'partner-image', :style => 'float:right;margin-left:15px;'
    = raw @offer_group.content
    .clearfix