- content_for :stylesheets do
  :plain
    <style type="text/css" media="screen">
      table.orders-gut caption{
      	font-size: 20px;
      	color: #24299b;
      	font-weight: bold;
      }

      table.orders-gut td, th{
      	padding: 10px;
      }

      table.orders-gut{
      	border: 1px solid #797a7a;
      	margin: 5px 0px 15px;
      }
      
      strong.price{
      	padding-left: 10px;
      	font-size: 14px;
      }
    </style>

= form_for [:admin, @order] do |f|
 
  .field
    = f.label :status
    = f.text_field :status

=render "orders/items", :order => @order