- content_for :stylesheets do
  :plain
    <style type="text/css" media="screen">
      table.orders-gut caption{
      	font-size: 20px;
      	color: #24299b;
      	font-weight: bold;
      	width: 500px;
      	margin-bottom: 15px;
      	margin-top:20px;
      }

      table.orders-gut td, th{
      	padding: 10px;
      }

      table.orders-gut{
      	border: 1px solid #797a7a;
      	margin: 5px 0px 15px;
      }
      
      strong.price{
      	padding-left: 10px;
      	font-size: 14px;
      }
    </style>

= form_for [:admin, @order] do |f|
 
  .field
    = f.label :status
    = select(:order, :status, [['Новый', 'new'], ['Принят', 'processing'], ['Выполнен', 'finished'], ['Закрыт', 'closed']])

  = render "/shared/admin/form_actions", :f => f, :continue_editing => false, :delete_title => t('delete', :scope => 'admin.orders.order'), :delete_confirmation => t('message', :scope => 'shared.admin.delete', :title => @order.status)

=render "orders/items", :order => @order