%ul
  - if Admin::OffersController.searchable?
    %li= render "/shared/admin/search", :url => admin_offers_url
  %li= link_to t('.create_new'), new_admin_offer_url, :class => "add_icon"
  - if !searching? and Admin::OffersController.sortable? and Offer.count > 1
    %li
      = link_to t('.reorder', :what => "Offers"), admin_offers_url, :id => "reorder_action", :class => "reorder_icon"
      = link_to t('.reorder_done', :what => "Offers"), admin_offers_url, :id => "reorder_action_done", :style => "display: none;", :class => "reorder_icon"