%ul#sortable_list= render :partial => 'offer_group', :collection => @offer_groups
= render "/shared/admin/sortable_list", :continue_reordering => (local_assigns.keys.include?(:continue_reordering)) ? continue_reordering : true
